@media screen and (min-width: 835px) {

    .container {
        padding: 0 32px;
    }

    .title {
        font-size: 64px;
        letter-spacing: 1px;
    }

/*----------------- header + burger -----------------*/

    .burger-button {
        display: none;
    }

    .header-container {
        align-items: center;
    }

    .menu {
        display: block;
    }

    .menu-list {
        display: flex;
        gap: 32px;
    }

    .menu-link {
        color: var(--main-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.38;
    }

/*----------------- hero -----------------*/

    .hero {
        padding-bottom: 64px;
    }

    .hero-wrap {
        padding-top: 318px;
        margin-bottom: 135px;
    }

    .hero-subtitle {
        font-size: 48px;
        line-height: 1.39;
        max-width: 470px;
    }

    .hero-title {
        top: -30px;
        font-size: 128px;
        margin-bottom: 34px;
    }
    
    .hero-title::after {
        top: 120px;
    }

    .hero-soc {
        flex-flow: column;
        align-items: end;
    }

/*----------------- about -----------------*/

    .about {
        padding: 155px 0;
        background-size: 992px 574px;
    }

    .about-title {
        margin-bottom: 64px;
    }

    .about-wrap {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .about-wrap div, .about-text {
        width: 370px;
    }

/*----------------- tours -----------------*/

    .tours {
        padding-top: 100px;
    }

    .tours-title {
        margin-bottom: 64px;
    }

    .tours-image {
        width: 918px;
    }

    .tours-subtitle {
        margin: 40px 0 24px;
        font-size: 32px;
    }

    .tours-wrap {
        display: flex;
        gap: 32px;
    }

    .tours-wrap > div {
        min-width: 242px;
    }

    .tours-title-list {
        font-size: 18px;
        margin: 0 0 16px;
    }

    .tours-list-item {
        gap: 8px;
    }

    .tours-button {
        width: 169px;
        margin: 32px 0 48px;
    }

    .arrows-tours {
        width: 496px;
        margin: 0 auto;
    }

/*----------------- gallery -----------------*/

    .gallery {
        padding-top: 100px;
    }
    
    .gallery-image-list {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin: 64px 0 52px;
    }
    
    .gallery-image:not(:first-child) {
        display: block;
    }

    .gallery-image img {
        width: 377px;
        height: 494px;
    }
/*----------------- reviews -----------------*/

    .reviews {
        padding-top: 58px;
        padding-bottom: 44px;
        margin-bottom: 100px;
    }

    .review-wrap {
        margin: 32px auto 20px;
        max-width: 256px;
        border-radius: 4px;
    }

    .review-wrap:not(:first-child) {
        display: block;
    }

    .reviews-list {
        margin-bottom: 85px;
        display: flex;
        gap: 32px;
    }

    .reviewers-name {
        font-size: 20px;
        line-height: 1.4;
    }

    .review-text {
        height: 176px;
    }

/*----------------- travel -----------------*/

    .travel {
        padding: 127px 0 143px;
        width: 100%;
        background-position: left center;
        background-size: contain;
    }

    .travel-container {
        box-sizing: border-box;
        display: flex;
        gap: 32px;
        border: 1px solid var(--main-color);
        padding: 79px 49px 61px;
        margin: 0 auto;
        max-width: 770px;
    }

    .travel-title {
        font-size: 32px;
    }

    .travel-form {
        margin-top: 0;
    }

    .travel-button {
        border-radius: 4px;
    }

/*----------------- footer -----------------*/

    .footer {
        padding-top: 100px;
    }

    .footer-wrap {
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
    }

    .footer-wrap > div {
        text-align: right;
    }

    .footer-list {
        margin-top: 0;
    }

    .footer-link {
        font-size: 18px;
    }

    .footer-link:not(:last-child) {
        margin-bottom: 16px;
    }

    .footer-logo {
        width: 169px;
        height: 125px;
    }

    .footer-soc {
        margin-top: 40px;
        justify-content: end;
    }

    .footer-text {
        font-size: 14px;
    }

    .contacts-link {
        font-size: 18px;
    }

    .contacts-list>li:not(:last-child) {
        margin-bottom: 16px;
    }

}

@media screen and (min-width: 1440px) {

/*----------------- hero -----------------*/

    .hero {
        padding-bottom: 100px;
    }

/*----------------- about -----------------*/

    .about {
        padding-bottom: 164px;
        background-size: 1024px 574px;
    }

/*----------------- tours -----------------*/

    .tours-image {
        width: 704px;
        height: 515px;
    }

    .tours-subtitle {
        letter-spacing: 0.2px;
        margin-bottom: 32px;
    }

    .image-container {
        gap: 32px;
        justify-content: center;
    }

    .image-container:not(:first-child) {
        display: block;
    }

    .tours-text {
        display: none;
    }

    .tours-wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .tours-desktop {
        display: flex;
        gap: 200px;
    }

    .tours-text-list {
        display: inline;
        list-style-type: disc;
        margin-left: 20px;
        letter-spacing: 0.2px;
    }

    .tours-button-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .tours-button-wrap>p,
    .tours-button-wrap span {
        display: inline;
        font-size: 32px;
        font-family: "Jomolhari", serif;
        line-height: 1.4;
    }

    .tours-desktop-wrap {
        width: 510px;
        display: flex;
        flex-direction: column;
    }

    .tours-button {
        margin: 32px 0 0;
    }

    .arrows-tours {
        display: none;
    }


/*----------------- gallery -----------------*/

/*----------------- reviews -----------------*/

    .reviews-list {
        margin-bottom: 52px;
    }

    .review-wrap {
        margin-top: 64px;
        margin-bottom: 0;
    }

}