:root {
    --main-color: #ffffff;
    --bg-color: #141A19;
    --btn-color: #394014;
    --not-active-color: #5A5959;
    --input-color: #B9B9B9;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "lato", sans-serif;
    line-height: 1.37;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--main-color);
}

.container {
    max-width: 100%;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: inherit;
    font-family: "Jomolhari", serif;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.37;
    padding: 16px 0;
}

.title {
    font-size: 40px;
    text-align: center;
    font-family: "Jomolhari", serif;
    font-weight: 400;
    line-height: 1.4;
}

.icon {
    fill: var(--main-color);
}

/*----------------- header + burger -----------------*/

.burger-button {
    stroke: var(--main-color);
    border: 0;
    background-color: transparent;
    padding: 0;
}


.header-container {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

/*----------------- hero -----------------*/

.hero-container {
    max-width: 234px;
    margin-top: 200px;
    text-align: center;
}

.hero-subtitle {
    font-size: 24px;
    font-family: "Jomolhari", serif;
    line-height: 1.42;
}

.hero-title {
    font-size: 64px;
    letter-spacing: 1px;
    margin-bottom: 64px;
    position: relative;
}

.hero-title::after {
    content: 'Ukraine';
    display: block;
    position: absolute;
    transform: rotate(180deg) scaleX(-1);
    background: linear-gradient(transparent, var(--main-color));
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.2;
    top: 70px;
}

.hero-button {
    padding: 12px 52px;
}

.hero-soc {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 225px;
}

/*----------------- about -----------------*/

.about-container {
    margin-top: 112px;
}

.about-container .about-text:not(:last-child) {
    margin-bottom: 30px;
}

.about-title {
    margin-bottom: 30px;
}

.about-text {
    letter-spacing: 0.2px;
}

/*----------------- tours -----------------*/

.tours-container {
    margin-top: 80px;
}

.tours-title {
    margin-bottom: 32px;
}

.tours-subtitle {
    font-size: 24px;
    margin: 16px 0;
    text-align: left;
}

.tours-text {
    letter-spacing: 0.16px;
}

.tours-title-list {
    font-size: 18px;
    margin: 16px 0;
    text-align: left;
}

.tours-list-item {
    font-size: 16px;
    line-height: 1.37;
    display: flex;
    gap: 16px;
}

.tours-list-item:not(:last-child) {
    margin-bottom: 8px;
}


.tours-button {
    width: 100%;
    margin: 32px 0 20px;
}

.arrows-wrap {
    display: flex;
    justify-content: space-between;
}

.arrow-button {
    border: 0;
    background-color: transparent;
    display: block;
    padding-right: 0;
}

.arrow-left {
    transform: scaleX(-1);
}

/*----------------- gallery -----------------*/

.gallery-title {
    margin-top: 80px;
}

.gallery-picture {
    margin: 32px 0 20px;
}

/*----------------- reviews -----------------*/

.reviews-title {
    margin: 100px 0 32px;
}

.reviewers-name {
    margin-bottom: 11px;
    font-size: 18px;
}

.stars {
    fill: #AE990B;
    filter: drop-shadow(27px 0 #AE990B)
    drop-shadow(53px 0 #AE990B)
    drop-shadow(27px 0 #AE990B);
}

.review-wrap {
    padding: 32px;
    border: 1px solid var(--main-color);
    margin-bottom: 20px;
}

.review-subwrap {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
}

.review-text {
    height: 170px;
    overflow: auto;
    letter-spacing: 0.16px;
}

/*----------------- travel -----------------*/

.travel-title {
    font-size: 32px;
    text-align: left;
    margin-top: 194px;
}

.travel-text {
    letter-spacing: 0.16px;
    width: 320px;
    margin-top: 24px;
}

.travel-form {
    margin-top: 32px;
}

.travel-label {
    font-size: 18px;
    font-family: "Jomolhari", serif;
    font-weight: 400;
    line-height: 1.39;
}

.travel-input {
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0 12px;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 14px 12px;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.16px;
}

.travel-input::placeholder {
    color: var(--input-color);

}

.travel-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 102px;
    resize: none;
    overflow: auto;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 14px 12px;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.2px;
}

.travel-textarea:focus {
}

.travel-textarea::placeholder {
    color: var(--input-color);
    
}

.travel-button {
    width: 100%;
    margin-top: 32px;
    border-radius: 0;
    margin-bottom: 190px;
}

/*----------------- footer -----------------*/

.footer-list {
    margin: 32px 0;
}

.footer-link {
    display: block;
    font-family: "Jomolhari", serif;
    line-height: 1.37;
    color: var(--main-color);
}

.footer-link:not(:last-child) {
    margin-bottom: 8px;
}

.contacts-link {
    display: block;
    font-style: normal;
    font-family: "Jomolhari", serif;
    color: var(--main-color);
    line-height: 1.37;
}

.contacts-link:not(:last-child) {
    margin-bottom: 8px;
}

.footer-icons {
    display: flex;
    gap: 15px;
    margin: 32px 0 64px;
}

.footer-text {
    font-size: 12px;
    font-family: "Jomolhari", serif;
    line-height: 1.41;
    text-align: center;
}