:root {
    --main-color: #ffffff;
    --bg-color: #141A19;
    --btn-color: #394014;
    --not-active-color: #5A5959;
    --input-color: #B9B9B9;
    --stars-color: #AE990B;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "lato", sans-serif;
    line-height: 1.37;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--main-color);
}

.container {
    max-width: 100%;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: inherit;
    font-family: "Jomolhari", serif;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.37;
    padding: 16px 0;
}

.title {
    font-size: 40px;
    text-align: center;
    font-family: "Jomolhari", serif;
    font-weight: 400;
    line-height: 1.4;
}

.icon {
    fill: var(--main-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/*----------------- header + burger -----------------*/

.header {
    padding-top: 16px;
    position: absolute;
    width: 100%;
}

.burger-button {
    stroke: var(--main-color);
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: none;
}

.mob-menu {
    background-color: var(--bg-color);
    background-image: url(../images/mob-menu-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
}

.mob-menu-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.mob-menu-list {
    padding-top: 198px;
    padding-bottom: 16px;
}

.mob-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.38;
}

.mob-menu-link:not(:last-child) {
    margin-bottom: 16px;
}

/*----------------- hero -----------------*/

.hero {
    background-image: url(../images/main-img.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 32px;
}

.hero-wrap {
    padding-top: 260px;
    margin-bottom: 225px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.hero-subtitle {
    font-size: 24px;
    font-family: "Jomolhari", serif;
    line-height: 1.42;
    max-width: 234px;
    text-align: center;
}

.hero-title {
    font-size: 64px;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 64px;
    position: relative;
}

.hero-title::after {
    content: 'Ukraine';
    display: block;
    position: absolute;
    transform: rotate(180deg) scaleX(-1);
    background: linear-gradient(to bottom, transparent 40%, var(--main-color) 100%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.4;
    top: 60px;
}

.hero-button {
    display: block;
    box-sizing: content-box;
    width: 70px;
    height: 24px;
    margin: 0 auto;
    padding: 12px 52px;
    color: var(--main-color);
    background-color: var(--btn-color);
    border-radius: 4px;
    font-family: "Jomolhari", serif;
    line-height: 1.37;
}

.hero-soc {
    display: flex;
    gap: 15px;
    justify-content: center;
}

/*----------------- about -----------------*/

.about {
    width: 100%;
    padding: 80px 0;
    margin: 0 auto;
    background-image: linear-gradient(#141a19ed 0 100%), url(../images/svg/map.svg);
    background-position: top 100px center;
    background-repeat: no-repeat;
    background-size: 741px 426px;
}

.about-container .about-text:not(:last-child) {
    margin-bottom: 30px;
    position: relative;
}

.about-title {
    margin-bottom: 30px;
}

.about-text {
    letter-spacing: 0.25px;
}

/*----------------- tours -----------------*/

.tours-title {
    margin-bottom: 32px;
}

.image-wrap {
    width: 100vw;
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
}

.image-wrap:not(:first-child) {
    display: none;
}

.tours-image {
    margin: 0 auto;
}

.tours-subtitle {
    font-size: 24px;
    margin: 16px 0;
    text-align: left;
    line-height: 1.4;
}

.tours-text {
    letter-spacing: 0.23px;
}

.tours-title-list {
    font-size: 18px;
    margin: 16px 0;
    text-align: left;
}

.tours-list-item {
    font-size: 16px;
    line-height: 1.37;
    display: flex;
    gap: 16px;
}

.tours-list-item:not(:last-child) {
    margin-bottom: 8px;
}

.tours-button {
    width: 100%;
    margin: 32px 0 20px;
}

.arrows-wrap {
    display: flex;
    justify-content: space-between;
}

.arrow-button {
    border: 0;
    background-color: transparent;
    display: block;
    padding-right: 0;
}

.arrow-left svg {
    transform: scaleX(-1);
    fill: var(--not-active-color);
}

/*----------------- gallery -----------------*/

.gallery {
    padding-top: 80px;
    padding-bottom: 68px;
}

.gallery-image-list {
    margin: 32px 0 20px;
}

.gallery-image:not(:first-child) {
    display: none;
}

.gallery-image img {
    margin: 0 auto;
    border-radius: 4px;
    object-fit: cover;
    width: 343px;
    height: 494px;
}

/*----------------- reviews -----------------*/

.reviews {
    padding-top: 32px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    background-image: url(../images/reviews-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -200px center;
}

.reviewers-name {
    margin-bottom: 11px;
    font-size: 18px;
}

.stars {
    fill: var(--stars-color);
    filter: drop-shadow(27px 0 var(--stars-color))
    drop-shadow(53px 0 var(--stars-color))
    drop-shadow(27px 0 var(--stars-color));
}

.reviews-list {
    margin-bottom: 32px;
}

.review-wrap {
    padding: 32px;
    margin: 0 auto;
    border: 1px solid var(--main-color);
    max-width: 279px;
}

.review-wrap:not(:first-child) {
    display: none;
}

.review-subwrap {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 32px;
}

.review-text {
    height: 170px;
    overflow: auto;
    letter-spacing: 0.16px;
}

/*----------------- travel -----------------*/

.travel {
    padding-top: 54px;
    padding-bottom: 54px;
    background-image: url(../images/travel-img-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.travel-container {
    background-color: #141A19;
    padding: 40px 16px;
}

.travel-title {
    font-size: 32px;
    text-align: left;
}

.travel-text {
    letter-spacing: 0.16px;
    width: 320px;
    margin-top: 24px;
}

.travel-form {
    margin-top: 32px;
}

.travel-label {
    font-size: 18px;
    font-family: "Jomolhari", serif;
    font-weight: 400;
    line-height: 1.39;
}

.travel-input {
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0 12px;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 14px 12px;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.16px;
}

.travel-input::placeholder {
    color: var(--input-color);

}

.travel-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 102px;
    resize: none;
    overflow: auto;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 14px 12px;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.2px;
}

.travel-textarea:focus {
}

.travel-textarea::placeholder {
    color: var(--input-color);
    
}

.travel-button {
    width: 100%;
    margin-top: 32px;
    border-radius: 0;
}

/*----------------- footer -----------------*/

.footer {
    padding-top: 96px;
}

.footer-list {
    margin: 32px 0;
}

.footer-link {
    display: block;
    font-family: "Jomolhari", serif;
    line-height: 1.37;
    color: var(--main-color);
}

.footer-link:not(:last-child) {
    margin-bottom: 8px;
}

.contacts-link {
    display: inline-block;
    font-style: normal;
    font-family: "Jomolhari", serif;
    color: var(--main-color);
    line-height: 1.37;
}

.contacts-list > li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-soc {
    display: flex;
    gap: 15px;
    margin: 32px 0 64px;
}

.footer-text {
    font-size: 12px;
    font-family: "Jomolhari", serif;
    line-height: 1.41;
    text-align: center;
}